<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 예제</title>
</head>
<body>
<h1>myFileViewer</h1>

<a th:text="${pDir}">parent directory</a>

<table border="1">

    <thead>
        <tr>
            <th> 파일이름 </th>
            <th> 파일 사이즈 </th>
            <th> 최신 수정 일자 </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="list : ${fileInfo}">
            <td>
                <a th:href="${list.getFileName()}">
                    <span th:text="${list.getFileName()}"></span>
                </a>
            </td>
            <td th:text="${list.getFileSize()}"></td>
            <td th:text="${list.getLastMoified()}"></td>
        </tr>
    </tbody>

</table>

</body>
</html>